{% load static %}

<div class="d-flex flex-column bd-highlight chat-box">

                <div class="d-flex bd-highlight chat-header p-2">
                            <div id="friend-bar" class="mx-2 bd-highlight fw-bolder">{{room_name}}</div>

                            {{ filter_room.name|json_script:"current-room-name" }}

                            {% if filter_room.is_private and filter_room.author == user  %}
                                <i type="button" class="bi bi-plus" data-bs-toggle="modal" data-bs-target="#addUsersToChannel">Add someone</i>
                            {% endif %}

                            <div class="ms-auto bd-highlight dropdown">
                                <i class="bi bi-filter-circle-fill dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"> Online</i>
                                <ul id="idOnlineUsers" class="users-online dropdown-menu">
                                    {% if filter_room.is_private %}
                                        {% for online_user in filter_room.users.all %}
                                            {% if online_user.username != request.user.username %}
                                            <li><i class="p-1 bi bi-chat-square-fill "></i>{{online_user}}</li>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        {% for online_user in filter_room.users.all %}
                                            {% if online_user.username != request.user.username %}
                                            <li><i class="p-1 bi bi-chat-square-fill "></i>{{online_user}}</li>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                </div>
                

                <div id="chat-text" class="bd-highlight main-chat">
                    {% for message in messages %}
                        {% if request.user != message.author %}
                        
                            <div id="chat-text" class="d-flex justify-content-end ">
                                <p class="mx-1 mt-auto bd-highlight message-opposed p-2 text-break" data-bs-toggle="tooltip" data-bs-placement="top" title="{{message.timestamp | date:"l H:i"}}">{{message.context}}</p>
                                <p class="bd-highlight mt-auto">
                                    <img class="rounded-circle img-message mt-auto" src="{{message.author.user_img.url}}" width="40" height="40" alt="image"/>
                                </p>
                            </div>

                            {% else %}

                            <div id="chat-text" class="d-flex">
                                <p class="bd-highlight mt-auto">
                                    <img class="rounded-circle img-message mt-auto" src="{{message.author.user_img.url}}" width="40" height="40" alt="image"/>
                                </p>
                                <p class="mx-1 mt-auto bd-highlight message p-2 text-break" data-bs-toggle="tooltip" data-bs-placement="top" title="{{message.timestamp | date:"l H:i"}}"  >{{message.context}}</p>
                            </div>
                        
                        {% endif %}
                    {% endfor %}
                </div>

                <div id="chat-footer" class="chat-footer">
                    <div class="d-flex flex-row bd-highlight justify-content-center chat-footer-items mt-4">
                        <i id="chat-message-submit" type="button"></i> 
                        <textarea class="form-control bd-highlight " id="chat-message-input" type="text" rows="2" placeholder="Type something.." aria-label="Type something" ></textarea> 
                        <svg xmlns="http://www.w3.org/2000/svg" id="chat-message-submit" type="button" width="40" height="40" fill="black" class="bi bi-send bd-highlight mx-1 my-auto" viewBox="0 0 16 16" type="button">
                            <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
                        </svg>
                    </div>
                </div>

                 {% comment %} <div class="chat-footer mx-auto">
                    <textarea class="form-control" id="chat-message-input" type="text" rows="1" placeholder="Type something.." aria-label="Type something" ></textarea> 
                    <i id="chat-message-submit" type="button"></i> 
                </div> {% endcomment %}
</div>

            
<!-- Modal -->
<div class="modal fade" id="addUsersToChannel" tabindex="-1" aria-labelledby="addUsersToChannelLabel" aria-hidden="true" data-bs-backdrop="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addUsersToChannelLabel">Add users</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">


            <div class="create-form">


                <form id="add-to-channel-user" method="POST" class="d-flex" autocomplete="off">
                    {% csrf_token %}
                    <input id="add-friend" name="add-friend" class="add-input w-100" type="search" placeholder="Search" aria-label="Search" onclick="SearchUsers();" >
                    <ul id="add-results" class="dropdown-menu mt-5 rounded w-50"></ul>
                </form>
                <br>
            </div>
      
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                {% comment %} <button class="form-label btn btn-info btn-rounded" id="room-name-submit" onclick="createNewChannel(event)">Create</button> {% endcomment %}
              </div>
            </form>
      </div>
    </div>
  </div>
